<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <commands>
      <command name="contenteditor:seticon">
        <patch:attribute name="type">Sitecore.Support.Shell.Framework.Commands.ContentEditor.SetIcon,Sitecore.Support.212651</patch:attribute>
      </command>
    </commands>
  </sitecore>
</configuration>